.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000000 !important;
}

.textContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
  z-index: 1;
}

.backgroundVideo.fadeOut {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.centeredText {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.centeredText2 {
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.title {
  font-family: "Zen Dots";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  margin-bottom: -8px;
}

.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 0 !important;
}

.backBtn {
  width: 160px;
  height: 60px;
  bottom: 80px;

  font-family: "Montserrat";
  font-weight: 400 !important;
  font-size: 10px;
  text-align: center;
  color: white !important;
  background: rgba(217, 217, 217, 0.01) !important;
  border: 0.5px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25) !important;
  border-radius: 20px !important;
}

.continueBtn {
  width: 160px;
  height: 60px;
  bottom: 80px;

  font-family: "Montserrat";
  font-weight: 400 !important;
  font-size: 10px;
  text-align: center;
  color: white !important;
  background: rgba(217, 217, 217, 0.01) !important;
  border: 0.5px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25) !important;
  border-radius: 20px !important;
}

.connectBtn {
  width: 160px;
  height: 60px;

  bottom: 80px;

  font-family: "Montserrat";
  font-weight: 400 !important;
  font-size: 10px;
  text-align: center;
  z-index: 3;

  color: white !important;

  background: rgba(217, 217, 217, 0.01) !important;
  border: 0.5px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25) !important;
  border-radius: 20px !important;
}

.connectBtn:focus {
  box-shadow: "none" !important;
}

.welcome {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 40px;
}

.uploadProfile {
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.uploadedProfile {
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.plusBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.usernameInput {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: transparent !important;
  padding: 0.5rem !important;
}

.usernameInput:focus {
  border: 1px solid rebeccapurple;
}

.username {
  padding-top: 10px;
  font-weight: 700;
}
